<div class="container" style="padding-bottom: 30px;">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<form class="form-inline">
				<div class="form-group">
					<div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
				
				
      </div><!-- /btn-group -->
						<button type="submit" class="btn btn-primary">Login</button>
      <input type="text" class="form-control" aria-label="...">
    </div><!-- /input-group -->
					
				</div>
				
			</form>
		</div>
	</div>
</div>