<!doctype html>
<html>

<head>
  <title>Quantified Trade</title>
  <% include ./partials/headcommon %>

    <style>
      body {
        padding-top: 30px;
        background-color: #475059;
      }
    </style>
</head>

<body>


  <div class="container" style="padding-top: 30px;background-color:#fff;">

    <div class="row" style="padding-left: 30px;padding-right: 30px;padding-bottom: 30px;">
      <div class="col-md-4">
      <h4>
        No symbol found.
        <%= error %>
      </h4>
</div>
    </div>
  </div>




  <br>

  <% include ./partials/footer %>


</body>

</html>