<!doctype html>
<html>
<head>
    <title>Quantified Trade | About</title>
  <link rel="stylesheet" href="css/dashboard.css">
    
    <% include ./partials/headcommon %>
  
  <link rel="stylesheet" href="css/dashboardsearchwidget.css">
    <style>
        body {background-color:#475059;}
    </style>
  <script src="//www.chartjs.org/assets/Chart.min.js"></script>
  <script src="js/dashboard.js"></script>

</head>
<body>

<link rel="stylesheet" type="text/css" href="./css/about.css" />

	<div class="container">			
		<div class="row">
			<div class="col-md-6 margin-bottom-30">
				<!-- BEGIN Portlet PORTLET-->
				<div class="portlet">
					<div class="portlet-title">
						<div class="caption">
							<i class="glyphicon glyphicon-calendar"></i>
							<span class="caption-subject text-uppercase"> Portlet</span>
							<span class="caption-helper">weekly stats...</span>
						</div>
						<div class="actions">
							<a href="javascript:;" class="btn">
								<i class="glyphicon glyphicon-pencil"></i>
								Edit 
							</a>
							<a href="javascript:;" class="btn">
								<i class="glyphicon glyphicon-paperclip"></i>
								Add
							</a>
							<a href="javascript:;" class="btn btn-circle">
								<i class="glyphicon glyphicon-resize-full"></i>
							</a>
						</div>
					</div>
					<div class="portlet-body">
						<h4>Heading Text</h4>
						<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
					</div>
				</div>
				<!-- END Portlet PORTLET-->
			</div>

			<div class="col-md-6 margin-bottom-30">
				<!-- BEGIN Portlet PORTLET-->
				<div class="portlet">
					<div class="portlet-title">
						<div class="caption caption-green">
							<i class="glyphicon glyphicon-knight"></i>
							<span class="caption-subject text-uppercase"> Portlet</span>
							<span class="caption-helper">monthly stats...</span>
						</div>
						<div class="actions">
							<div class="btn-group" data-toggle="buttons">
								<label class="btn grey-salsa active">
								<input type="radio" name="options" class="toggle" id="option1">Today</label>
								<label class="btn grey-salsa">
								<input type="radio" name="options" class="toggle" id="option2">Week</label>
								<label class="btn grey-salsa">
								<input type="radio" name="options" class="toggle" id="option2">Month</label>
							</div>
						</div>
					</div>
					<div class="portlet-body">
						<h4>Heading Text</h4>
						<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
					</div>
				</div>
				<!-- END Portlet PORTLET-->
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 margin-bottom-30">
				<!-- BEGIN Portlet PORTLET-->
				<div class="portlet portlet-bordered">
					<div class="portlet-title">
						<div class="caption caption-red">
							<i class="glyphicon glyphicon-cog"></i>
							<span class="caption-subject text-uppercase"> Portlet</span>
							<span class="caption-helper">weekly stats...</span>
						</div>
						<div class="actions">
							<a href="javascript:;" class="btn btn-red btn-circle active">
								<i class="glyphicon glyphicon-paperclip"></i>
							</a>
							<a href="javascript:;" class="btn btn-red btn-circle">
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
							<a href="javascript:;" class="btn btn-red btn-circle">
								<i class="glyphicon glyphicon-trash"></i>
							</a>
							<a href="javascript:;" class="btn btn-red btn-circle">
								<i class="glyphicon glyphicon-search"></i>
							</a>
						</div>
					</div>
					<div class="portlet-body">
						<h4>Heading Text</h4>
						<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
					</div>
				</div>
				<!-- END Portlet PORTLET-->
			</div>

			<div class="col-md-6 margin-bottom-30">
				<!-- BEGIN Portlet PORTLET-->
				<div class="portlet portlet-gray portlet-bordered">
					<div class="portlet-title">
						<div class="caption caption-purple">
							<i class="glyphicon glyphicon-cog"></i>
							<span class="caption-subject text-uppercase"> Pagination</span>
						</div>
						<div class="actions">
							<ul class="pagination">
							    <li>
							      	<a href="#" aria-label="Previous">
							        	<span aria-hidden="true">«</span>
							      	</a>
							    </li>
							    <li><a href="#">1</a></li>
							    <li class="active"><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li>
							      	<a href="#" aria-label="Next">
							        	<span aria-hidden="true">»</span>
							      	</a>
							    </li>
						  	</ul>
						</div>
					</div>
					<div class="portlet-body">
						<h4>Heading Text</h4>
						<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
					</div>
				</div>
				<!-- END Portlet PORTLET-->
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 margin-bottom-30">
				<!-- BEGIN Portlet PORTLET-->
				<div class="portlet">
					<div class="portlet-title">
						<div class="caption">
							<i class="glyphicon glyphicon-search"></i>
							<span class="caption-subject text-uppercase"> Form Input</span>
							<span class="caption-helper">more samples...</span>
						</div>
						<div class="inputs">
							<div class="portlet-input input-inline input-medium">
								<div class="input-group">
									<input type="text" class="form-control input-circle-left" placeholder="search...">
									<span class="input-group-btn">
									<button class="btn btn-circle-right btn-default" type="submit">Go!</button>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="portlet-body">
						<h4>Heading Text</h4>
						<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
					</div>
				</div>
				<!-- END Portlet PORTLET-->
			</div>

			<div class="col-md-6">
				<!-- BEGIN Portlet PORTLET-->
				<div class="portlet">
					<div class="portlet-title">
						<div class="caption caption-red">
							<i class="glyphicon glyphicon-pushpin"></i>
							<span class="caption-subject bold font-yellow-crusta uppercase">
							Tabs </span>
							<span class="caption-helper">more samples...</span>
						</div>
						<ul class="nav nav-tabs">
							<li>
								<a href="#portlet_tab3" data-toggle="tab">
								Tab 3 </a>
							</li>
							<li>
								<a href="#portlet_tab2" data-toggle="tab">
								Tab 2 </a>
							</li>
							<li class="active">
								<a href="#portlet_tab1" data-toggle="tab">
								Tab 1 </a>
							</li>
						</ul>
					</div>
					<div class="portlet-body">
						<div class="tab-content">
							<div class="tab-pane active" id="portlet_tab1">
								<h4>Tab 1 Content</h4>
								<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
							</div>
							<div class="tab-pane" id="portlet_tab2">
								<h4>Tab 2 Content</h4>
								<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
							</div>
							<div class="tab-pane" id="portlet_tab3">
								<h4>Tab 3 Content</h4>
								<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
								</div>
						</div>
					</div>
				</div>
				<!-- END Portlet PORTLET-->
			</div>
		</div>
	</div>



  
  
  
  </body>
</html>