<!doctype html>
<html>

<head>
  <title>Quantified Trade | Contact</title>

  <% include ./partials/headcommon %>

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css" />
    <link rel="stylesheet" href="css/contact.css">
    <style>
      body {
        padding-top: 30px;
        background-color: #475059;
      }
    </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">

        <h2 style="color: #FFF;">
            Contact us
        </h2>
        <p style="color: #FFF;">
          If you want to get an account or make suggestions.
        </p>

        <% if(typeof msg !== 'undefined') { %>
          <% if(!err) { %>
            <div class="alert alert-danger" role="alert">
              <%= msg %>
            </div>

            <% } else { %>

              <div class="alert alert-success" role="alert">
                <%= msg %>
              </div>

              <% } %>
                <% } %>

                  <form role="form" name="contactus" id="contactus" method="POST">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <input type="text" class="form-control" name="name" autocomplete="off" id="name" placeholder="Name">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <input type="email" class="form-control" name="email" autocomplete="off" id="email" placeholder="E-mail">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <textarea class="form-control textarea" rows="3" name="message" id="message" placeholder="Message"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <button type="submit" class="btn main-btn pull-right">Send a message</button>
                      </div>
                    </div>
                  </form>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
  <script src="js/contact.js"></script>
</body>

</html>