<!doctype html>
<html>

<head>
  <title>Quantified Trade</title>
  <% include ./partials/headcommon %>

    <link rel="stylesheet" type="text/css" href="./css/optionchains.css" />


    <style>
      body {
        padding-top: 30px;
        background-color: #475059;
      }
    </style>
</head>

<body>


  

  <% include ./partials/footer %>


</body>

</html>